---
title: Risalah Supply
layout: layouts/home.njk
description: Personal Blog dari Ilham
date: Last Modified
---


<div id="posts">
  <h2>Artikel Terbaru</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>