---
title: Risalah Supply
layout: layouts/home.njk
description: Personal Blog dari Ilham
date: Last Modified
---

<link href="https://twitter.com/ilhamtopiq" rel="me">
<div id="posts">
  <h2>Artikel Terbaru</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>