---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tag “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Lihat <a href="{{ '/tags/' | url }}">Semua Tag</a>.</p>
