---
permalink: /tags/
layout: layouts/home.njk
eleventyNavigation:
  key: Tag
  order: 1
---
<h1>Tag</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a>
{% endfor %}
