<div class="webmentions" id="webmentions">

  {% set mentions = webmentions | getWebmentionsForUrl(metadata.url + webmentionUrl) %}
  {% set replies = mentions | webmentionsByType('in-reply-to')  %}

  {% for webmention in replies %}
    {% include 'webmention.njk' %}
  {% endfor %}
</div>
 