---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}
    <span class="h-card">
        <a hidden class="u-url" rel="me" href="https://ilhamtopiq.netlify.app/">ilham taufik</a>
        <img hidden class="u-photo" src="/img/ilhamtopiq.jpg" />
    </span>