---
layout: layouts/base.njk
templateClass: tmpl-home
---
<h1>👋 Hai</h1>
<p>Nama Saya Ilham Taufik, dan ini adalah blog pribadi saya Risalah Supply</p>

{{ content | safe }}
    <span class="h-card">
        <a hidden class="u-url" rel="me" href="https://ilhamtopiq.netlify.app/">ilham taufik</a>
        <img hidden class="u-photo" src="/img/ilhamtopiq.jpg" />
    </span>